[Unit]
Description=Terra Validator
After=network.target auditd.service

[Service]
ExecStart=/usr/local/bin/terrad start
Type=simple
KillMode=process
Restart=always
RestartSec=3
User=root

[Install]
WantedBy=multi-user.target
