[Unit]
Description=terracli
Requires=network-online.target
After=network-online.target

[Service]
Restart=on-failure
User=terrad
Group=terrad
PermissionsStartOnly=true
ExecStart=/usr/bin/terracli rest-server --laddr {{TERRACLI_ADDRESS}}
ExecReload=/bin/kill -HUP $MAINPID
KillSignal=SIGTERM

[Install]
WantedBy=multi-user.target

